<?xml version="1.0"?>

<model>
  <name>10mm_x_100mm_bar</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <!--sdf version="1.5">model.sdf</sdf-->

  <author>
    <name>Su Lu</name>
  </author>

  <description>
    10mm x 100mm, to test motion planning if grasped needle can avoid collision with this bar
  </description>
</model>